@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Gesperrt";
}

<hgroup>
    <h1 class="text-danger">Account gesperrt.</h1>
    <h2 class="text-danger">Dieser Account wurde temporär gesperrt, bitte versuchen Sie es später noch mal.</h2>
</hgroup>
