@model ERPv1.Models.IdentityModels.IndexViewModel
@{
    ViewBag.Title = "Account verwalten";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div>
    <h4>Ändern Sie Ihre Account-Einstellungen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Passwort:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Ändern Sie Ihr Passwort", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Erstellen", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
