@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron bg-dark lighten-1 white-text" style="padding: 2em 2em">
    <h1>ERP - Enterprise-Resource-Planning</h1>
</div>

<div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Content/Images/businessman.jpg" alt="Erster Slide">
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/ERPScripts/SetMaxScreenWidth.js")
}