@model ERPv1.Models.ViewModels.AuftragViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <script type="text/javascript">
        $(this).submit(function() {
            debugger;
            for (var i = 0; i < $("#selectionTable2").DataTable().rows().data().length; i++) {
                var entry = $("#selectionTable2").DataTable().rows().data()[i];
                debugger;
                $("#hiddenInputs").append("<input type=\"hidden\" name=\"SelectedWaren[" +
                    i +
                    "].Ware.ID\" value=\"" +
                    entry.DT_RowId +
                    "\"/>");
                $("#hiddenInputs").append("<input type=\"hidden\" name=\"SelectedWaren[" +
                    i +
                    "].Ware.Artikelnummer\" value=\"" +
                    entry[1] +
                    '"/>');
                $("#hiddenInputs").append("<input type=\"hidden\" name=\"SelectedWaren[" +
                    i +
                    "].Ware.Bezeichnung\" value=\"" +
                    entry[2] +
                    '"/>');
                $("#hiddenInputs").append("<input type=\"hidden\" name=\"SelectedWaren[" +
                    i +
                    "].Ware.Anzahl\" value=\"" +
                    entry[4] +
                    '"/>');
                $("#hiddenInputs").append("<input type=\"hidden\" name=\"SelectedWaren[" +
                    i +
                    "].Ware.HerstellerName\" value=\"" +
                    entry[3] +
                    '"/>');

            }
        });
    </script>




    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
    @Html.Partial("_AuftragInput", Model)
    <div id="hiddenInputs"></div>
    <div class="flex-row card-buttons">
        <input type="submit" value="Speichern" class="btn btn-primary" />

        @Html.ActionLink("Zurück zur Liste", "Index", null, new { @class = "btn btn-white text-dark" })
    </div>

}