@model ERPv1.Models.ViewModels.AuftragViewModel

@{
    ViewBag.Title = "Auftrag anlegen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header deep-purple white-text lighten-1">
        Auftrag anlegen
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.Partial("_CreateOrEditPartial", Model)
        }
    </div>
</div>


<div>
    @Html.ActionLink("Zurück zur Übersicht", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/ERPScripts/DataTablesConfig.js")
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker();
            $('#selectionTable tbody').on('click',
                'tr',
                function() {
                    $(this).toggleClass('table-active');
                });
        });
    </script>
}
