.body-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-buttons {
    padding-top: 35px;
}

.card-body {
    padding-top: 0;
}

.col-sm-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.table-active {
    background-color: rgba(130,242,155,1) !important;
}
.no-pointer:after {
    display: none !important;
}

.no-pointer {
    pointer-events: none !important;
    cursor: default !important;
}

.button-column {
    margin-left: 15px;
}