@model ERPv1.Models.Kunde

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Kunde")">Übersicht</a></li>
    <li class="breadcrumb-item active">Erstellen</li>
</ol>

<div class="card">
    <div class="card-header">
        Kunde erstellen
    </div>
    <div class="card-body">
        @Html.Partial("_CreateOrEditPartial", Model)
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
